@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* Tamanho da fontes => 300, 400, 500. */
  

p{
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}